.article-list {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
}

.article-list-item {
    min-height: 80px;
    width: auto;
    background-color: gray;
    margin-bottom: 15px;
}