body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
    font-family: "微软雅黑",sans-serif; 
}

ul,
li {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
a,
span,
p {
    font-family: "微软雅黑",sans-serif; 
}


a {
    text-decoration: none;
    &:hover,
    &:visited,
    &:active,
    &:focus, {
        text-decoration: none;
        color: inherit;
    }
}

//inner-wrapper
.inner-wrapper {
    margin: auto;
    width: 80%;
}


//main-page-content  layout
.main-page {
    background-color: rgb(244, 248, 251);
    .main-content-left,
    .main-content-right {
        float: left;
    }
    .main-content-left {
        position: sticky;
        width: 32.5%;
        margin-right: 5%;
    }
    .main-content-right { 
        width: 62.5%;
    }
}